{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Video Conference</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <body>
    <div class="dashboard">
        {% comment %} <h1>Welcome, {{name}}!</h1> {% endcomment %}
        <!-- create a "New Meeting" button -->
        <a href="{% url 'join_room' %}" class="button">Join Meeting</a>
    </div>
    <p id="meeturl"></p>

    <script>
        // Function to extract query parameters from URL
        function getQueryParameter(name) {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(name);
        }

        // Access the "meeturl" query parameter
        const meeturl = getQueryParameter('meeturl');

        // Display the "meeturl" parameter in a paragraph element
        document.getElementById('meeturl').textContent = meeturl;
    </script>
  </body>
</head>
</html>