{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Soulcure</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="Free HTML Templates" name="keywords" />
  <meta content="Free HTML Templates" name="description" />

  <!-- Favicon -->
  <link href="{% static 'img/favicon.ico' %}" rel="icon" />

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap"
    rel="stylesheet" />

  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

  <!-- Libraries Stylesheet -->
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet" />
  <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

  <!-- Customized Bootstrap Stylesheet -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

  <!-- Template Stylesheet -->

  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <style>
    .forms-expanded {
      margin-top: px;
    }

    h2 {
      color: aliceblue;
      text-align: center;
    }

    button {
      justify-content: center;
    }
  </style>
</head>

<body>

  <!-- Navbar Start -->
  <div class="container-fluid sticky-top bg-white shadow-sm">
    <div class="container">
      <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 ">
        <a href="index.html" class="navbar-brand">
          <h1 class="m-0  text-success">
            <i class="fa-solid fa-hand-holding-hand fa-flip-horizontal"></i>SoulCure
          </h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% if user.is_staff %}
        <div class="collapse navbar-collapse ms-5 mr-5 justify-content-end" id="navbarCollapse">
          <div class="navbar-nav ms-5 mr-5 py-0 justify-content-end">

            <a href="{% url 'adminindex' %}" class="nav-item nav-link active">Home</a>
            <a href="{% url 'admin:index' %}" class="nav-item nav-link ">DashBoard</a>
            <a href="{% url 'addTherapist' %}" class="nav-item nav-link ">Add Therapist</a>
            <a href="" class="nav-item nav-link "><span>Welcome,{{user.name}}</span></a>
            <a href="{% url 'logout' %}" class="nav-item nav-link ">Logout</a>
          </div>
        </div>
        {% else %}
        <div class="collapse navbar-collapse ms-5 mr-5 justify-content-between" id="navbarCollapse">
          <div class="navbar-nav ms-5 mr-5 py-0 justify-content-end">


            <a href="index.html" class="nav-item nav-link active">Home</a>
            <a href="about.html" class="nav-item nav-link">About</a>
            <a href="service.html" class="nav-item nav-link">Therapies</a>
            <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
              <div class="dropdown-menu m-0">
                <a href="team.html" class="dropdown-item">The Team</a>
                <a href="{% url 'logout' %}" class="dropdown-item">Our Team</a>
                <a href="appointment.html" class="dropdown-item">Appointment</a>
              </div>
            </div>
            <a href="contact.html" class="nav-item nav-link">Contact</a>

          </div>

          <div class="d-flex">
            <a href="{% url 'login' %}" class="nav-item nav-link btn btn-success mx-2 text-dark">Login</a>

            <!-- Register button -->
            <a href="{% url 'register' %}" class="nav-item nav-link btn btn-success text-dark">Register</a>
          </div>
          {% endif %}
        </div>
      </nav>
    </div>
  </div>
  <!-- Navbar End -->

  <div class="mt-5">
    <h2 class="align-center text-dark">Add New Therapy</h2>
    <div class="container p-5 card ">
      {% if error_message %}
      <div><span style="color:red;">{{error_message}}</span><br/><br/></div>
      {% endif %}
      <form method="post" class=" mx-auto w-75" enctype="multipart/form-data">
        <div id="therapyNameValidation" class="invalid-feedback text-center">
          Please enter a valid therapy name containing only letters
        </div>
        <div id="therapyDescriptionValidation" class="invalid-feedback text-center">
          Therapy description must contain at least 25 words.
        </div>
        <div id="durationValidation" class="invalid-feedback text-center">
          Duration upto 20 weeks
        </div>
        <div id="feesValidation" class="invalid-feedback text-center">
          Please enter a valid positive numbers.
        </div>
        
        <div id="benefitsValidation" class="invalid-feedback">
          Benefits must contain at least 25 words.
        </div>
        {% csrf_token %}
        {{ form.as_p}}
        


        <div class="d-flex mt-5 justify-content-center w-100 align-items-center">
          <button class="btn btn-dark sub-btn w-25" type="submit">ADD</button>
        </div>
      </form>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const therapyNameInput = document.getElementById("tname");
        therapyNameInput.addEventListener("keyup", validateTherapyName);

        function validateTherapyName() {
          console.log("validateTherapyName function called");
          const therapyNameValidation = document.getElementById("therapyNameValidation");
          const therapyNameValid = document.getElementById("therapyNameValid");
          const inputValue = therapyNameInput.value.trim(); // Remove leading/trailing whitespace

          const therapyNamePattern = /^[A-Za-z]+( [A-Za-z]+)*$/;

          if (!therapyNamePattern.test(inputValue)) {
            therapyNameInput.classList.add("is-invalid");
            therapyNameInput.classList.remove("is-valid");
            therapyNameValidation.style.display = "block";
            therapyNameValid.style.display = "none";
          } else {
            therapyNameInput.classList.remove("is-invalid");
            therapyNameInput.classList.add("is-valid");
            therapyNameValidation.style.display = "none";
            therapyNameValid.style.display = "block";
          }
        }



        const therapyDescriptionInput = document.getElementById("therapyDescription");

        therapyDescriptionInput.addEventListener("keyup", validateTherapyDescription);

        function validateTherapyDescription() {
          console.log("validateTherapyDescription function called");
          const therapyDescriptionValidation = document.getElementById("therapyDescriptionValidation");
          const therapyDescriptionValid = document.getElementById("therapyDescriptionValid");
          const inputValue = therapyDescriptionInput.value;

          // Remove all non-alphanumeric characters except '()', '-', "'", '"', and '.'
          const cleanedInput = inputValue.replace(/[^A-Za-z0-9()\-'"\.]/g, ' ');

          // Split the cleaned input into words
          const words = cleanedInput.split(/\s+/);

          if (words.length < 25) {
            therapyDescriptionInput.classList.add("is-invalid");
            therapyDescriptionInput.classList.remove("is-valid");
            therapyDescriptionValidation.style.display = "block";
            therapyDescriptionValid.style.display = "none";
          } else {
            therapyDescriptionInput.classList.remove("is-invalid");
            therapyDescriptionInput.classList.add("is-valid");
            therapyDescriptionValidation.style.display = "none";
            therapyDescriptionValid.style.display = "block";
          }
        }


        const durationInput = document.getElementById("duration");

        durationInput.addEventListener("keyup", validateDuration);

        function validateDuration() {
          console.log("validateDuration function called");
          const durationValidation = document.getElementById("durationValidation");
          const durationValid = document.getElementById("durationValid");
          const inputValue = durationInput.value.trim();

          const isValid = /^[1-9]\d*$/.test(inputValue);

          if (!isValid) {
            durationInput.classList.add("is-invalid");
            durationInput.classList.remove("is-valid");
            durationValidation.style.display = "block";
            durationValid.style.display = "none";
          } else {
            durationInput.classList.remove("is-invalid");
            durationInput.classList.add("is-valid");
            durationValidation.style.display = "none";
            durationValid.style.display = "block";
          }
        }

        const feesInput = document.getElementById("fees");

        feesInput.addEventListener("keyup", validatefees);

        function validatefees() {
          console.log("validateDuration function called");
          const feesValidation = document.getElementById("feesValidation");
          const feesValid = document.getElementById("feesValid");
          const inputValue = durationInput.value.trim();

          const isValid = /^([1-9]|1[0-9]|20)$/.test(inputValue);

          if (!isValid) {
            feesInput.classList.add("is-invalid");
            feesInput.classList.remove("is-valid");
            feesValidation.style.display = "block";
            feesValid.style.display = "none";
          } else {
            feesInput.classList.remove("is-invalid");
            feesInput.classList.add("is-valid");
            feesValidation.style.display = "none";
            feesValid.style.display = "block";
          }
        }


        const benefitsInput = document.getElementById("benefits");
        benefitsInput.addEventListener("keyup", validateBenefits);

        function validateBenefits() {
          console.log("validateBenefits function called");
          const benefitsValidation = document.getElementById("benefitsValidation");
          const benefitsValid = document.getElementById("benefitsValid");
          const inputValue = benefitsInput.value;

          const cleanedInput = inputValue.replace(/[^A-Za-z0-9()\-'"\.]/g, ' ');

          // Split the cleaned input into words
          const words = cleanedInput.split(/\s+/);

          if (words.length < 25) {
            benefitsInput.classList.add("is-invalid");
            benefitsInput.classList.remove("is-valid");
            benefitsValidation.style.display = "block";
            benefitsValid.style.display = "none";
          } else {
            benefitsInput.classList.remove("is-invalid");
            benefitsInput.classList.add("is-valid");
            benefitsValidation.style.display = "none";
            benefitsValid.style.display = "block";
          }
        }


      });
    </script>



    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-success btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>