<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
 <div class="invoice-header">
        <h1>Invoice</h1>
    </div>
    <div class="invoice-details">
        <h2>Invoice Details</h2>
        <p><strong>Username:</strong> {{ payee }}</p>
        <p><strong>Payment Date:</strong>{{ payment.timestamp}}</p>
        <p><strong>Amount:</strong> Rupees{{ payment.amount }}</p>
    </div> 
        
        <script src="" async defer></script>
    </body>
</html>