{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .img {
            width: 600px;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body>
    <div class="d-flex justify-content-center">
        <h1 class="text-dark fw-bold">Yoga Poses - How to Do It and Their Benefits</h1>
    </div>

    <div class="col-4 w-100 d-flex justify-content-center mt-5">
        <div><img src="https://www.godigit.com/content/dam/godigit/directportal/en/contenthm/standing-yoga-poses.jpg"
                class="img" alt=""></div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="col-8 mt-5">
            <p>
                 yoga poses are a type of exercise you can perform anywhere that increases stability and body
                balance. Including it in your daily workout regime will provide a healthy mind and body. Therefore
                strengthening various body parts and maintaining proper blood circulation.
            </p>
            <p>
                To know more about these various yoga poses, keep scrolling through the article.
            </p>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-5">
        <div class="text-center col-7 mt-5">
            <h4 class="fw-bold">What Are the Top Yoga Poses?</h4>
            <p class="fs-5 mt-5">
                These poses help calm your body and mind, thus filling you with positive energy. Some examples of such
                beneficial  yoga poses are as follows:
            </p>
        </div>
    </div>
    <div class="yoga-category mb-5">
        <div class="text-center mt-5">
            <h3 class="fw-bold">1. Mountain Pose (Tadasana)</h3>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <img src="https://www.godigit.com/content/dam/godigit/directportal/en/contenthm/mountain-pose.jpg" class="img"
                alt="">
        </div>
        <div class="d-flex justify-content-center">
            <div class="col-8 mt-5">
                <p>
                    The Mountain pose is one of the easiest poses, which is also the base of many standing yoga poses. This
                    pose requires you to keep your ankles, knees, and hips in a straight line. This, in turn, helps to
                    improve your overall posture and maintain proper blood circulation throughout the body.
                </p>
                <p class="fs-4 fw-bold">How to Do Mountain Pose (Tadasana)?</p>
                <div class="d-flex">
                    <p class="fw-bold">Step 1:</p>
                    <p class="ms-1">Stand by keeping your feet parallel and maintain a gap of a few inches between them.</p>
                </div>
                <div class="d-flex">
                    <p class="fw-bold">Step 2:</p>
                    <p class="ms-1">Keep your head straight and stand firmly.</p>
                </div>
                <div class="d-flex">
                    <p class="fw-bold">Step 3:</p>
                    <p class="ms-1">Start lifting your arms upwards and keep the shoulder parallel to your ears.</p>
                </div>
                <div class="d-flex">
                    <p class="fw-bold">Step 4:</p>
                    <p class="ms-1">Hold this position for a few moments and keep your arms down.</p>
                </div>
                <a href="" class="btn btn-center mt-3 mb-3 btn-success text-white px-5 py-3 fs-6" style="margin-left: 45%">Try it now</a>
                <p class="fs-4 mt-5 fw-bold">What Are the Safety Precautions to Take While Performing Mountain Pose?</p>
                <ul class="">
                    <li>Do not practise for a long time if you have pain in your legs.</li>
                    <li class="mt-2">Refrain from putting excessive pressure on your knees.</li>
                </ul>
                <p class="fs-4 mt-5 fw-bold">Who Should Avoid Practising Mountain Pose?</p>
                <ul class="">
                    <li>People with joint pain and low blood pressure.</li>
                    <li class="mt-2">People with insomnia and migraine.</li>
                </ul>
    
            </div>
        </div>
        
    </div>
    <div class="yoga-category mt-5">
        <div class="text-center mt-5">
            <h3 class="fw-bold">2. Warrior 1 (Virabhadrasana 1)</h3>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <img src="https://www.godigit.com/content/dam/godigit/directportal/en/contenthm/warrior-11.jpg" class="img"
                alt="">
        </div>
        <div class="d-flex justify-content-center">
            <div class="col-8 mt-5">
                <p>
                    Virabhadrasana 1 or Warrior 1 is another  beneficial standing yoga pose for beginners. The posture is mainly helpful for improving cognitive function and concentration power. However, as it involves full body stretching, it leads to better body flexibility.
                </p>
                <p class="fs-4 fw-bold">How to Do Warrior 1 (Virabhadrasana 1)?</p>
                <div class="d-flex">
                    <p class="fw-bold">Step 1:</p>
                    <p class="ms-1">Start with downward-dog position and keep your right knee near your nose.</p>
                </div>
                <div class="d-flex">
                    <p class="fw-bold">Step 2:</p>
                    <p class="ms-1">Touch and hold the ground with the help of your arms and keep your right leg between them.</p>
                </div>
                <div class="d-flex">
                    <p class="fw-bold">Step 3:</p>
                    <p class="ms-1">SKeep your knees bent and lift your arms upwards.</p>
                </div>
                <div class="d-flex">
                    <p class="fw-bold">Step 4:</p>
                    <p class="ms-1">Hold this position for a few moments and release.</p>
                </div>
                <div class="d-flex">
                    <p class="fw-bold">Step 5:</p>
                    <p class="ms-1">Hold this position for a few moments and release.</p>
                </div>
                <p class="fs-4 mt-5 fw-bold">What Are the Safety Precautions to Take While Performing Warrior 1 (Virabhadrasana 1)?</p>
                <ul class="">
                    <li>Avoid practising this asana for a long time.</li>
                    <li class="mt-2">If you have neck pain, try to keep your neck in a neutral position.</li>
                    <li class="mt-2">Avoid if you have any spinal injury.</li>
                </ul>
                <p class="fs-4 mt-5 fw-bold">Who Should Avoid Practising Warrior 1 (Virabhadrasana 1)?</p>
                <ul class="">
                    <li>PPeople with heart issues, high blood pressure, and chronic illness.</li>
                    <li class="mt-2">People who have serious neck, shoulder, or knee pain.</li>
                </ul>
    
            </div>
        </div>
    </div>
    <div class="yoga-category">
        <div class="text-center mt-5">
            <h3 class="fw-bold">3. Warrior 2 (Virabhadrasana 2)</h3>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <img src="https://www.godigit.com/content/dam/godigit/directportal/en/contenthm/warrior-22.jpg" class="img"
                alt="">
        </div>
        <div class="d-flex justify-content-center">
            <div class="col-8 mt-5">
                <p>
                    This is a part of the Virabhadrasana series, where you need to extend your hands right from your shoulder. You must keep your gaze fixed throughout the posture, calm your mind, and concentrate, which in turn provides mental freshness. In addition, it involves full body stretching, which helps gain a better physique and better body balance.
                </p>
                <p class="fs-4 fw-bold">How to Do Warrior 2 (Virabhadrasana 2)?</p>
                <div class="d-flex">
                    <p class="fw-bold">Step 1:</p>
                    <p class="ms-1">Stand straight and stretch your arms wide apart, parallel to each other.</p>
                </div>
                <div class="d-flex">
                    <p class="fw-bold">Step 2:</p>
                    <p class="ms-1"> Keep your ankles beneath your knees.</p>
                </div>
                <div class="d-flex">
                    <p class="fw-bold">Step 3:</p>
                    <p class="ms-1">Stretch your right leg forward, bend your knee and keep body balance on your ankle.</p>
                </div>
                <div class="d-flex">
                    <p class="fw-bold">Step 4:</p>
                    <p class="ms-1">Remain in this position for a few breaths, release, and repeat with the other leg.</p>
                </div>
                <p class="fs-4 mt-5 fw-bold">What Are the Safety Precautions to Take While Performing Warrior 2 (Virabhadrasana 2)?</p>
                <ul class="">
                    <li>Ensure even distribution of body weight on both legs.</li>
                    <li class="mt-2">Avoid it if you have neck and knee pain.</li>
                    <li class="mt-2">Avoid practising if you have any spinal ailment.</li>
                    <li class="mt-2">Avoid practising diarrhoea.</li>
                </ul>
                <p class="fs-4 mt-5 fw-bold">Who Should Avoid Practising Warrior 2 (Virabhadrasana 2)?</p>
                <ul class="">
                    <li>People who have neck, shoulder, or hip surgery.</li>
                    <li class="mt-2">People with high blood pressure.</li>
                </ul>
    
            </div>
        </div>
    </div>
    
    <div class="yoga-category">
        <div class="text-center mt-5">
            <h3 class="fw-bold">4. Warrior 3 (Virabhadrasana 3)</h3>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <img src="https://www.godigit.com/content/dam/godigit/directportal/en/contenthm/warrior-3.jpg" class="img"
                alt="">
        </div>
        <div class="d-flex justify-content-center">
            <div class="col-8 mt-5">
                <p>
                    Warrior 3 is the advanced pose of the Warrior series, where you need to stand on one leg while the other is firmly grounded. The pose is beneficial for strengthening leg and back muscles,thereby balancing, and improving your posture.                </p>
                <p class="fs-4 fw-bold">How to Do Warrior 3 (Virabhadrasana 3)?</p>
                <div class="d-flex">
                    <p class="fw-bold">Step 1:</p>
                    <p class="ms-1">Start with Virabhadrasana 1 pose.</p>
                </div>
                <div class="d-flex">
                    <p class="fw-bold">Step 2:</p>
                    <p class="ms-1"> Ground your right leg firmly, lift your lower abdomen and keep your tailbone down.</p>
                </div>
                <div class="d-flex">
                    <p class="fw-bold">Step 3:</p>
                    <p class="ms-1">Strengthen your arms and lift your left leg and swing your arms towards your back.</p>
                </div>
                <div class="d-flex">
                    <p class="fw-bold">Step 4:</p>
                    <p class="ms-1">Hold a few breaths and release</p>
                </div>
                <p class="fs-4 mt-5 fw-bold">What Are the Safety Precautions to Take While Performing Warrior 2 (Virabhadrasana 2)?</p>
                <ul class="">
                    <li>Do not force your body to perform the posture.</li>
                    <li class="mt-2">Stop practising if you feel pain.</li>
                    <li class="mt-2">Avoid practising if you have balance issues.</li>
                </ul>
                <p class="fs-4 mt-5 fw-bold">Who Should Avoid Practising Warrior 2 (Virabhadrasana 2)?</p>
                <ul class="">
                    <li>People with ankle and knee injuries.</li>
                    <li class="mt-2">People who have back and shoulder injuries.</li>
                    <li class="mt-2">Patients with high blood pressure.</li>
                </ul>
    
            </div>
        </div>
    </div>
    

</body>

</html>