<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>SoulCure</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="">
  <!-- Include Bootstrap CSS (add appropriate paths) -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- Include Bootstrap JS (add appropriate paths) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    .forms-expanded {
      margin-top: px;
    }

    h2 {
      color: aliceblue;
      text-align: center;
    }

    button {
      justify-content: center;
    }
  </style>
</head>

<body>

  <div class="mt-5">
    <h2 class="align-center text-center text-success">Therapy Session Schedule </h2>
    <div class="container p-5 card ">


      <div class="form-group mt-2">
        <div class="row ">
          <div class="col-3 mb-3 "></div>
          <div class="col-3  mb-3">
            <label class="text-success" for="{{appointment.client.name }}">Therapist Name:</label>
            <h4>&nbsp;&nbsp;{{appointment.therapist.name}}</h4>
          </div>
          <div class="col-6  mb-3">
            <label class="text-success">Appointment Date:</label>
            <h4 class="text-danger">&nbsp;&nbsp;{{appointment.date}},{{appointment.time_slot}}</h4>
          </div>
          <div class="col-3 mb-3 "></div>
          <div class="col-3 mb-3 ">
            <label class="text-success">Platform:</label>
            <h4 class="text-dark">&nbsp;&nbsp;{{ current_schedule.platform }}</h4>
          </div>
          <div class="col-6 mb-3 ">
            <label class="text-success">Duration:</label>
            <h4 class="text-dark">&nbsp;&nbsp;{{ current_schedule.duration_minutes }} Minutes</h4>
          </div>
          <!-- <div class="col-12 mt-3">
            <div class="row  p-3 ">
              <div class="col-3 mb-3 "></div>

              <div class="col-3 mb-3 ">
                <h4 class="text-success text-center ">Join Meeting</h4>
              </div>
              <div class="col-5 mb-3">
                <a class="btn btn-primary w-50" href="{{ current_schedule.meeting_url }}"> Join </a>
              </div>
            </div>
          </div> -->
        </div>

        

    <form method='post' >
      {% csrf_token %}
        <div class="d-flex mt-5 justify-content-center w-100 align-items-center">
          <a href="{% url 'view-appointment-client' %}" class="btn btn-danger sub-btn w-25 mx-4" type="submit">Back
            to Appointments</button></a>       {% comment %} href="{{ current_schedule.meeting_url }}" {% endcomment %}
        </div>
      </form>
      </div>
    </div>


  </div>
</body>
        {% if message %}
        <script>
            window.alert("{{ message }}");
        </script>
        {% endif %}
</html>